@model List<Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Blog</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a asp-area="admin" asp-controller="blog" asp-action="create" class="btn btn-primary">Create</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Category</th>
                            <th>Tags</th>
                            <th>Image</th>
                            <th>User</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@(item.Description!=null && item.Description.Length>150? item.Description.Substring(0, 150) : item.Description)</td>
                                <td>@item.Categories.Name</td>
                                <td>
                                    @foreach (var item2 in item.TagToBlogs)
                                    {
                                        @(item2.Tags.Name+ (item2 == item.TagToBlogs.LastOrDefault()? "": ", "))
                                    }
                                </td>
                                <td>
                                    <img src="~/Uploads/Images/@item.MainImage" alt="image" width="100" />
                                </td>
                                <td>@item.User.Name</td>
                                <td>@item.AddedDate.ToString("dd.MM.yyyy HH:mm")</td>
                                <td>
                                    <a asp-area="admin" asp-controller="blog" asp-action="update" asp-route-id="@item.Id">Update</a>
                                    <a onclick="return confirm('Are you sure?')" asp-area="admin" asp-controller="blog" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
