

@model User
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="row">
        <div class="col-6">
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-area="admin" asp-controller="user" asp-action="update" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input class="form-control" id="Name" asp-for="@Model.Name">
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Surname">Surname</label>
                    <input class="form-control" id="Surname" asp-for="@Model.Surname">
                    <span asp-validation-for="@Model.Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Phone">Phone</label>
                    <input class="form-control" id="Phone" asp-for="@Model.UserName">
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
              
                <div class="form-group">
                    <label for="Surname">Email</label>
                    <input class="form-control" id="Email" asp-for="@Model.Email">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="Password" asp-for="@Model.Password">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Password">ConfirmPassword</label>
                    <input type="password" class="form-control" id="ConfirmPassword" asp-for="@Model.ConfirmPassword">
                    <span asp-validation-for="@Model.ConfirmPassword class=" text-danger"></span>
                </div>
                @* <div class="form-group">
                        <label asp-for="@Model.CountryId">Şəhər</label>
                        <select class="form-control" asp-for="@Model.CountryId" asp-items="@(new SelectList(ViewBag.Country, "Id", "Name"))">
                            <option disabled selected value="null">Select Country</option>
                        </select>
                        <span asp-validation-for="@Model.CountryId" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label for="image">Image</label>
                    <input class="form-control" id="image" asp-for="@Model.ImageFile">
                    <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
                    <img src="~/Uploads/Images/@Model.Image" alt="Alternate Text" height="100" />
                </div>

                <br />
                <br />
                <br />

                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="Image" value="@Model.Image" />

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>

